.card{
    border: 1px solid green;
}
.slideshow {
    margin: 3% auto;
    overflow: hidden;
    width: 80%;
    border-radius: 10px;
  }
  
  .slideshowSlider {
    white-space: nowrap;
    transition: ease 1000ms;
    height: fit-content;
    border-radius: 10px;
  }
  
  .slide {
    display: inline-block;
    /* background-image: url("../hospital_images/image15.jpg"); */
    height: 60vh;
    width: 100%;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
  }
  

  @media screen and (max-width: 650px) {
    .slideshow {
      width: 90%;
      height: fit-content;
    }

    .slide {
      display: inline-block;
      /* background-image: url("../hospital_images/image15.jpg"); */
      height: 40vh;
      width: 100%;
    }

    .servicePageVideo{
      height: 60vh;
      margin-bottom: 10%;
    }
    
  }

  