.card{
    border: 1px solid green;
}
.slideshow {
    margin: 3% auto;
    overflow: hidden;
    width: 80%;
    border-radius: 10px;
  }
  
  .slideshowSlider {
    white-space: nowrap;
    transition: ease 1000ms;
    height: fit-content;
    border-radius: 10px;
  }
  
  .slide {
    display: inline-block;
    /* background-image: url("../hospital_images/image15.jpg"); */
    height: 60vh;
    width: 100%;
    border-radius: 10px;
  }
  

  

  